
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700;800&display=swap");
body{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    background-color: #E5E5E5;
}

/* .interactive{
    transition: transform 250ms;
}
  
.interactive:hover {
    transform: translateY(-10px);
} */
.menu{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    height: 10vmin;
    width: 100%;
    position: fixed;
    background-color: yellow;
    margin: 0vmin;
    
    font-size: 3vmin;
}.imgmenu{
    height: 7vmin;
}

.inicio{
    display: grid;

}
.fondo{
    margin-top: 20vh;
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}.dos{
    display: grid;
    grid-template-rows: 50% 50%;
}.imgdos{
    width: 30vmin;
}
.tres{
    display: grid;
    grid-template-rows: 33% 33% 33%;
}
