body{
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    text-align: center;
    background-color:rgb(197, 199, 202);
    text-transform: uppercase;
    color:lightslategrey;
}

h2{
    background-color:gray;
    text-transform: uppercase;
    color: red;
}

h3{
    background-color:rgb(153, 151, 151);
    text-transform: uppercase;
    color: purple;
}

p{
    background-color: rgb(212, 214, 216);
}

.blue{
    color: mediumblue; 
}

.green{
    color: rgb(7, 190, 31);
}